.worldSetting{
    float: right;
    color: lightgray;
    background-color: #1a1a1a;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
}

.worldSetting:hover{
    color: white;
    cursor: pointer;
}

.cancel-btn{
    float: right;
    color: red;
    border: 2px solid red;
    background-color: unset;
    margin-left: 4px;
}

.cancel-btn:hover{
    cursor: pointer;
    color: white;
    background-color: red;
}

.worlds-wrapper{

}

.worlds-header{
    border-radius: .25rem;
    background-color: rgb(150,150,150);
    text-align: center;
    padding-top: 8px;
    border: 2px solid lightgray;
}

.create-world{
    border-radius: .25rem;
    background-color: green;
    padding: 8px;
    color: lightgray;
    margin-bottom: 8px;
}

.create-world:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

.world-card{
    border-radius: 1rem;
    border: 2px solid green;
    background-color: rgb(150,150,150);
}

.world-card-body{
    border-top: 1px solid grey;
    padding: 8px;
    margin-bottom: 4px;
}

.world-card-content{
    margin-bottom: 4px;
}

.world-card-footer{
    margin-top: 8px;
}

.confirm-btn{
    border: 2px solid green;
    background-color: unset;
    color: green;
}

.confirm-btn:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.world-form{
    margin: 8px;
    padding: 8px;
    border-radius: .25rem;
    background-color: white;
    color: black;
    text-align: left;
}

.privacy-setting{
    float: right;
    height: 2rem;
    width: 100px;
    padding: 2px;
}

.privacy-setting:hover{
    cursor: pointer;
    background-color: lightgrey;
}