.circle{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
    background-color: lightblue;
}

.circle-mid{
    border-radius: .5rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.75rem;
    border: 2px solid black;
}

.alt-circle{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.75rem;
    color:black;
    border: 2px solid black;
}

.message-close{
    position: absolute;
    right: 10px;
    top: 10px;
}

.message-button{
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.message-button:hover,
.message-close:hover,
.new-message:hover,
.search-friend:hover,
.message-friend:hover,
.message-sent-btn:hover{
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.message-container{
    max-width: 375px;
    max-height: 500px;
    border-radius: .25rem;
    width:100%;
    height:100%;
    border: 2px solid black;
    background-color: white;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.message-header{
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.message-search{
    border-bottom: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

.new-message{
    position: absolute;
    float: left;
}

.no-messages{
    width:100%;
    height: 100%;
    text-align: center;
    padding-top: 40%;
    color: grey;
}

.messages{
    height:350px;
    /* background-color: lightgray; */
    border-bottom: 2px solid black;
    overflow:auto; display:flex; flex-direction:column-reverse;
    overflow-x: hidden;
}


.search-friend{
    border-bottom: 1px solid silver;
    padding: 1.5rem;
}

.message-friend{
    border-bottom: 1px solid silver;
    padding: 1rem;
}


.message-sent-btn{
    height: 100%!important;
    text-align: center;
    vertical-align: center;
    border: 1px solid black;
    line-height: 40px;
    border-bottom-right-radius: .3rem;
    border-top-right-radius: .3rem;
    /* border-left: 0px; */
    background-color: lightblue;
}

.send-message-input{
    /* border: 2px solid #484848!important; */
    border-right: 0px!important;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}

.last-message{
    color: grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.from-friend{
    background-color: lightgray;
    padding: 4px 16px;
    border-radius: 1rem;
    font-size: 1.25rem;
    float: left;
    overflow-wrap:break-word;
}

.from-me{
    background-color: lightblue;
    padding: 4px 16px;
    border-radius: 1rem;
    font-size: 1.25rem;
    float: right;
    overflow-wrap:break-word;
}